
.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}



.about__info{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    height: 620px;
    width: 80%;
    background: rgb(0, 0, 0, 0.70);
    border: 2px solid var(--color-primario);
    box-shadow: 0 0 10px var(--color-primario), 0 0 20px var(--color-primario), 0 0 60px var(--color-primario);
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
}

.about__avatar{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;

}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info__titulo{
    color: var(--color-primario);
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 1rem;
    
}
.info__parrafo{
    font-family: "parrafo";
    letter-spacing: 1px;
    text-align:center;
    line-height: 20px;
    color: rgb(255, 255, 255);
    font-size: 16px; 
}

.boton{
    background: var(--color-primario);
    margin-top: 10px;
    font-size: 1rem;
    border: none;
    width: 70%;
    height: 40px;
    color:#fff;
}

.boton:hover{
    box-shadow: 0 0 10px var(--color-primario), 0 0 20px var(--color-primario), 0 0 60px var(--color-primario);
    cursor: pointer;
}

#descargar{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

/*  Responsive */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .info__parrafo{
        font-size: 14px;
    }

    .info__titulo{
        font-size: 20px;
    }

}

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px){
    
    .avatar{
        width: 300px;
        height: auto;
    }

    .info__titulo{
        font-size: 30px;
    }

    .info__parrafo{
        font-size: 16px;
    }

    .boton{
        width: 50%;
    }
    
 }

 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {
    .boton{
        width: 40%;
    }
 }

 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {
    .about__info{
        flex-direction: row;
        align-items: center;
        height: 400px;
        
    }

    body{
    
        background-size:195vh;
        
    }
    .info__titulo{
        font-size: 40px;
    }

    .info__parrafo{
        font-size: 20px;
        margin-top: 2rem;
    }

    .info{
        padding: 2rem;
    }

    .boton{
        width: 70%;
    }
 }

 @media only screen and (min-width: 1200px) {
    body{
        background-size: 210vh;
    }
 }

