body{
    background-size: cover;
}

.contacto{
    display: flex;
    flex-direction: column;
    border: 2px solid var(--color-primario);
    width: 90%;;
    box-shadow: 0 0 10px var(--color-primario), 0 0 20px var(--color-primario), 0 0 60px var(--color-primario);
    border-radius: 0rem;
    background: rgb(0, 0, 0, 0.70);
    margin-top: 2rem;
    margin-bottom: 8rem;
}

.contacto__formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.formulario__logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.logo--form{
    object-fit: cover;
    width:100%;
    height:100%;
}

.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.formulario__campos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.campos__label{
    color: var(--color-primario);
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    font-family: "parrafo";
    letter-spacing: 1px;
}

.campos__input, .campos__mensaje{
    width: 100%;
    height: 30px;
    outline: none;
    border: 1px solid var(--color-primario);
    font-size: 1rem;
    color: rgb(255, 255, 255);
    border-radius: 0;
    background: rgb(128, 128, 128, .60);
}

.campos__mensaje{
    height: 8rem;
}

.campos__input:focus, .campos__mensaje:focus{
    background: rgb(0, 0, 0, 0.70);
    box-shadow: 0 0 10px var(--color-primario), 0 0 20px var(--color-primario), 0 0 60px var(--color-primario);
}

.formulario__boton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.boton--form{
    width: 40%;
    height: 3rem;
    background-color: var(--color-primario);
    color: #ffffff;
    font-size: 1rem;
    border: 10px;
}

.boton--form:hover{
    box-shadow: 0 0 10px var(--color-primario), 0 0 20px var(--color-primario), 0 0 60px var(--color-primario);
    cursor: pointer;
}




/* Responsive */


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
   
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .contacto__formulario{
        flex-direction: row-reverse;
        padding: 1rem;
    }
    .campos__input, .campos__mensaje{
        width: 70%;
        
    }

    .formulario__logo{
        width: 60%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .formulario__logo{
        width: 40%;
    }

    .campos__mensaje{
        height: 12rem;
    }
    
    .contacto{
        width: 70%;
    }

    .formulario__logo{
        width: 70%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    
} 