
.footer{
    bottom: 0;
    width: 100%;
    background: #0c0513;
    height: 5rem;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
    position: fixed;
    border-top: 3px solid var(--color-primario);
}

.footer__p{
    color: #8d9092;
    padding: 2px;
    font-family: "parrafo";
    letter-spacing: 1px;
    font-size: 12px;
}

.fa-brands{
    font-size: 2rem;
    color: #ffffff;
    padding: 1rem;
   
    
}

.fa-brands:hover{
    color: var(--color-primario);
    

}

    


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    
    .footer{
        
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 2px;
        
    }    
}
    
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px){

    .fa-brands{
        font-size: 3rem;
    }

    .footer__p{
        font-size: 16px;
    }
}

 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px){

    .footer{
        
        height: 4rem;
    }
    
 }