.formacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.formacion__cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 250px;
    height: 420px;
    margin-top: 2rem;
    border: 1px solid var(--color-primario);
    transition: all .5s;
    background: rgb(0, 0, 0, 0.20);
    text-align: center;
    line-height: 2rem;
    margin: 2rem;
    opacity: 70% !important;
    
    
}
.card:hover{
    box-shadow: 0 0 10px var(--color-primario), 0 0 20px var(--color-primario), 0 0 60px var(--color-primario);
    width: 260px;
    height: 430px;
    cursor: pointer;
    background: rgb(0, 0, 0, 0.60);
    opacity: 100% !important;

}

.card__imagen{
    width: 100%;
    height: 330px;
    opacity: 100% !important;
   
}

.card__titulo{
    font-size: 22px;
    color: var(--color-primario);
    font-family: "titulo";
    letter-spacing: 2px;
    
    
}
.card__parrafo{
    color: rgb(255, 255, 255, 0.50);
    font-family: "parrafo";
    letter-spacing: 1px;
    font-size: 14px;
    margin-top: 2px;
    
}


.card_parrafo:hover{
    color: rgb(255, 255, 255);
}

#alura{
    margin-bottom: 8rem;
}

/* Responsive */


 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {
     
    .card{
        width: 320px;
        height: 480px;

    }

    .card:hover{
        width: 330px;
        height: 490px;
    }

    .card__titulo{
        font-size: 27px;
    }

    .card__parrafo{
        font-size: 17px;
    }
    
 }
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {
    
    .formacion__cards{
        flex-direction: row;
    } 

 }
 