

/* Responsive */

 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {
     
     body{
        background-size: cover !important;
     }
     .skills{
         margin-bottom: 5rem !important;
     }
 }

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {}
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {
    body{
        background-size: 200vh !important;
     }
 }
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {
    body{
        background-size:200vh !important;
     }
    
     .skills{
        margin-bottom: 2rem !important;
    }
 }
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {} 