#particles-js{
    height: 600px;
    width: 100%;
    position: fixed;
    z-index: -1;
}

.contenido{
    margin-bottom: 6rem;
}

body{
    
    background-size:200vh;
    
}
.home{
    display: flex;
    flex-direction: column;
  
}
.home__titulo{
    display: flex;
    justify-content: center;
    
}
.home__imagen{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    
}

.imagen{
    width: 300px;
    height: auto;
    border-radius: 80%;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
}


.home__titulo--principal{
    font-family: "parrafo";
    color: #fdfdfd;
    font-size:25px;

}

.titulo-animado{
    font-weight: bold;
    color: var(--color-primario);
    font-style: normal;

}

/* Responsive */


 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {
    

    .imagen{
        margin-bottom: 0;
    }

    body{
        background-size: 190vh;
    }

    .home{
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        margin-top: 4rem;

    }

   
    
 }
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {

    .home__titulo--principal{
        font-size: 40px;
    }

    .imagen{
        width: 320px;
    }

 }
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {

    .logo{
        width: 100px;
        
    }

    .imagen{
        width: 350px;
    }

    .home__titulo--principal{
        font-size: 50px;
    }
 }



 @media only screen and (min-width: 1200px) {
    body{
        background-size:220vh;   
    }
    
  
 }
 