body{
    background-size:cover;
    
}
.contenido{
    display:flex;
    flex-direction: column;
    align-items: center;
    font-family: "parrafo";
    font-size: 20px;
    line-height: 1.5rem;
    
}


.skills{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    max-width: 1000px;
    margin-top: 20px;
    margin-bottom: 2rem;
    
}

.skills__link{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--color-primario);
    margin: 20px;
    padding: 20px;
    width: 120px;
    height: auto;
    transition: all 1s;

}

.skills__link:hover{
    
    box-shadow: 0 0 10px var(--color-primario), 0 0 20px var(--color-primario), 0 0 60px var(--color-primario);
}

.skills__link h2{
    margin-top: 10px;
    color: #fff;
    text-align: center;
    line-height: 2rem;
}

.skills__link img{
    width: 70px;
    height: auto;
    
}



.tools{
    margin-bottom: 50px;
    padding: 10px;
}
