.contenido{
    display:flex;
    flex-direction: column;
    align-items: center;
    font-family: "parrafo";
    font-size: 20px;
    line-height: 1.5rem;
    
}

.skills{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    max-width: 1000px;
    margin-top: 20px;
    
    
}

.skills-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--color-primario);
    border-radius: 7px;
    margin: 20px;
    padding: 20px;
    
    width: 120px;
    height: auto;
    transition: all 1s;

}

.skills-link:hover{
    
    box-shadow: 0 0 10px var(--color-primario), 0 0 20px var(--color-primario), 0 0 60px var(--color-primario);
}

.skills-link h2{
    margin-top: 10px;
    color: #fff;
    text-align: center;
    line-height: 2rem;
}

.skills-link img{
    width: 70px;
    height: auto;
    
}



.tools{
    margin-bottom: 50px;
    padding: 10px;
}

.contenido-hobbies{
    margin-top: 1px !important;
}

#logo{
    font-size: 80px;
    color: var(--color-primario);
}

/* Rensoponsive */
 /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .skills{
        margin-bottom: 2rem;
    }

    body{
        background-size:400vh !important;
        
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .skills{
        margin-bottom: 2rem;
    }

    body{
        background-size:cover !important;
        
        
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .skills{
        margin-bottom: 2rem;
    }

    body{
        
        background-size: cover !important;
        
        
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body{
        
        background-size: cover !important;
        
        
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {} 